.world {
    $entity-size: 5px;

    .row {
        &::before {
            display: table;
            clear: both;
            content: '';
        }
    }

    .entity {
        display: block;
        width: $entity-size;
        height: $entity-size;
        float: left;

        &.entity--multiple {
            background: black;
        }

        &.entity--carrot {
            background: orange;
        }

        &.entity--rabbit {
            background: brown;
        }

        &.entity--wolf {
            background: #aaa;
        }
    }
}
